In [1]:
import pandas as pd
import csv
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('casestudy.csv')
print(df)

        Unnamed: 0         customer_email  net_revenue  year
0                0   nhknapwsbx@gmail.com       249.92  2015
1                1   joiuzbvcpn@gmail.com        87.61  2015
2                2   ukkjctepxt@gmail.com       168.38  2015
3                3   gykatilzrt@gmail.com        62.40  2015
4                4   mmsgsrtxah@gmail.com        43.08  2015
...            ...                    ...          ...   ...
685922      685922   qzqttwiftu@gmail.com       184.58  2017
685923      685923   pjodiifjop@gmail.com       133.03  2017
685924      685924   appaplmgko@gmail.com       200.98  2017
685925      685925   wvkpmwsgck@gmail.com       235.35  2017
685926      685926   aregboumbw@gmail.com       208.43  2017

[685927 rows x 4 columns]

In [3]:
df_1 = df.loc[df['year'] == 2015]
df_2 = df.loc[df['year'] == 2016]
df_3 = df.loc[df['year'] == 2017]

In [4]:
print(df_1)

        Unnamed: 0         customer_email  net_revenue  year
0                0   nhknapwsbx@gmail.com       249.92  2015
1                1   joiuzbvcpn@gmail.com        87.61  2015
2                2   ukkjctepxt@gmail.com       168.38  2015
3                3   gykatilzrt@gmail.com        62.40  2015
4                4   mmsgsrtxah@gmail.com        43.08  2015
...            ...                    ...          ...   ...
231289      231289   xtrpmgjbwp@gmail.com       216.89  2015
231290      231290   peeorxpsbr@gmail.com        39.16  2015
231291      231291   vanasezjpw@gmail.com       233.46  2015
231292      231292   dnpremlztb@gmail.com       136.27  2015
231293      231293   qsgswrpycl@gmail.com        60.24  2015

[231294 rows x 4 columns]

In [5]:
revenue_2015 = df_1['net_revenue'].sum(axis=0)
revenue_2016 = df_2['net_revenue'].sum(axis=0)
revenue_2017 = df_3['net_revenue'].sum(axis=0)
print(revenue_2015)
print(revenue_2016)
print(revenue_2017)

29036749.189999994
25730943.59
31417495.030000016

In [6]:
year_df1_df2_common = pd.merge(df_2, df_1, on=['customer_email'], how='inner')
year_df2_df3_common = pd.merge(df_3, df_2, on=['customer_email'], how='inner')
print(year_df1_df2_common)

       Unnamed: 0_x         customer_email  net_revenue_x  year_x  \
0            231302   baiikostmd@gmail.com         142.57    2016
1            231303   lfeafnigbu@gmail.com          35.06    2016
2            231309   tqxsjlgjpi@gmail.com          33.50    2016
3            231310   hxshgpdxtr@gmail.com         217.35    2016
4            231318   zvhsssvgor@gmail.com          43.84    2016
...             ...                    ...            ...     ...
59579        435925   tpdtoiokyt@gmail.com           5.60    2016
59580        435927   yeserbsmyf@gmail.com          83.72    2016
59581        435930   nyunstvnpc@gmail.com          18.56    2016
59582        435935   mezrjfkced@gmail.com         114.17    2016
59583        435939   kxqglfdktu@gmail.com          37.31    2016

       Unnamed: 0_y  net_revenue_y  year_y
0                 8         170.70    2015
1                 9          54.99    2015
2                15         107.71    2015
3                16         180.59    2015
4                24          21.55    2015
...             ...            ...     ...
59579        204631          82.88    2015
59580        204633          46.60    2015
59581        204636          24.97    2015
59582        204641         118.19    2015
59583        204645          73.32    2015

[59584 rows x 7 columns]

In [7]:
def x(net_revenue_x,net_revenue_y):
    return net_revenue_x - net_revenue_y

year_df1_df2_common['net_revenue_x - net_revenue_y'] = year_df1_df2_common.apply(lambda f: x(f['net_revenue_x'],f['net_revenue_y']), axis=1)
year_df2_df3_common['net_revenue_x - net_revenue_y'] = year_df2_df3_common.apply(lambda f: x(f['net_revenue_x'],f['net_revenue_y']), axis=1)

print(year_df1_df2_common)

       Unnamed: 0_x         customer_email  net_revenue_x  year_x  \
0            231302   baiikostmd@gmail.com         142.57    2016
1            231303   lfeafnigbu@gmail.com          35.06    2016
2            231309   tqxsjlgjpi@gmail.com          33.50    2016
3            231310   hxshgpdxtr@gmail.com         217.35    2016
4            231318   zvhsssvgor@gmail.com          43.84    2016
...             ...                    ...            ...     ...
59579        435925   tpdtoiokyt@gmail.com           5.60    2016
59580        435927   yeserbsmyf@gmail.com          83.72    2016
59581        435930   nyunstvnpc@gmail.com          18.56    2016
59582        435935   mezrjfkced@gmail.com         114.17    2016
59583        435939   kxqglfdktu@gmail.com          37.31    2016

       Unnamed: 0_y  net_revenue_y  year_y  net_revenue_x - net_revenue_y
0                 8         170.70    2015                         -28.13
1                 9          54.99    2015                         -19.93
2                15         107.71    2015                         -74.21
3                16         180.59    2015                          36.76
4                24          21.55    2015                          22.29
...             ...            ...     ...                            ...
59579        204631          82.88    2015                         -77.28
59580        204633          46.60    2015                          37.12
59581        204636          24.97    2015                          -6.41
59582        204641         118.19    2015                          -4.02
59583        204645          73.32    2015                         -36.01

[59584 rows x 8 columns]

In [8]:
revenue_lost_attrition_2016 = revenue_2016 - revenue_2015
revenue_lost_attrition_2017 = revenue_2017 - revenue_2016
print(revenue_lost_attrition_2016)
print(revenue_lost_attrition_2017)

-3305805.599999994
5686551.440000016

In [9]:
existing_customer_revenue_2015 = year_df1_df2_common['net_revenue_x'].sum(axis=0)
existing_customer_revenue_2016 = year_df1_df2_common['net_revenue_y'].sum(axis=0)

In [10]:
existing_customer_revenue_2016 = year_df2_df3_common['net_revenue_x'].sum(axis=0)
existing_customer_revenue_2017 = year_df2_df3_common['net_revenue_y'].sum(axis=0)

In [11]:
total_customers_2015 = df_1.size
total_customers_2016 = df_2.size
total_customers_2017 = df_3.size

In [12]:
lost_customers_2016 = total_customers_2016 - total_customers_2015

In [13]:
gained_customers_2017 = total_customers_2017 - total_customers_2016

In [14]:
df_1.head

<bound method NDFrame.head of         Unnamed: 0         customer_email  net_revenue  year
0                0   nhknapwsbx@gmail.com       249.92  2015
1                1   joiuzbvcpn@gmail.com        87.61  2015
2                2   ukkjctepxt@gmail.com       168.38  2015
3                3   gykatilzrt@gmail.com        62.40  2015
4                4   mmsgsrtxah@gmail.com        43.08  2015
...            ...                    ...          ...   ...
231289      231289   xtrpmgjbwp@gmail.com       216.89  2015
231290      231290   peeorxpsbr@gmail.com        39.16  2015
231291      231291   vanasezjpw@gmail.com       233.46  2015
231292      231292   dnpremlztb@gmail.com       136.27  2015
231293      231293   qsgswrpycl@gmail.com        60.24  2015

[231294 rows x 4 columns]>